scripts/n8n/temp/AI_workflow_Q_A.json
{
  "name": "AI workflow Q&A",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -540,
        -80
      ],
      "id": "fe6f1c3d-e033-40d2-8ae2-3aafb0afa219",
      "name": "When chat message received",
      "webhookId": "650e7c61-859e-463c-a91f-fea422b52a97"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a stock market trading expert who helps answer questions from a corpus of documents.\n\nUse the postgres tool provided with documents available in your knowledge base in the 'documents_pg' table.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -140,
        120
      ],
      "id": "e839bb5b-3c38-46e7-951c-c4691437fe03",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96c17063-cb3d-45a1-9b6e-781047789230",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "d78083fa-a367-436b-a68d-2d57cbb85b09",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        140
      ],
      "id": "3db0da43-40af-4f31-a1a3-aa51f276c4e1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -400,
        340
      ],
      "id": "f543a3f0-8534-4e3d-bda0-b9a53da4b706",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "hTd2d3JYCMOsJjzU",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -180,
        340
      ],
      "id": "f47fefef-d59d-4483-8c4c-bf6a132ba0ea",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AMDgTqUJw3MtEYjN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(text, ' ') as document_text\nFROM documents_pg\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -20,
        460
      ],
      "id": "bf6b9f63-d9d1-41da-83d4-bdcd281c3572",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "AMDgTqUJw3MtEYjN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": "documents_pg",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        180,
        380
      ],
      "id": "36c702c2-7ba0-4152-8838-78059b90abbd",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "AMDgTqUJw3MtEYjN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        360,
        640
      ],
      "id": "f2245fc0-252c-40dd-a331-73ee91089f50",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "hTd2d3JYCMOsJjzU",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "You are an assistant for question-answering tasks. Use documents from attached RAG knowledgebase as context to answer the question.\n\nIf you don't get the answer from attached RAG, just say that you don't know, don't try to make up an answer and don't ask any suggestion or follow-up questions.\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.5,
      "position": [
        500,
        -40
      ],
      "id": "9a795232-dfd5-4b07-ab7c-4f8702ec1a55",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        420,
        160
      ],
      "id": "bbc87f55-3aa5-48d8-929d-4f9de534d811",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "hTd2d3JYCMOsJjzU",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        640,
        160
      ],
      "id": "68b3863b-c315-45cf-9fb1-0d067a214721",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "tableName": "documents_pg",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        600,
        360
      ],
      "id": "8d4442a1-37a8-4bf3-915f-c0d68b740049",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "AMDgTqUJw3MtEYjN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        640,
        520
      ],
      "id": "54d45575-cb88-4d52-be99-c8dec4c62448",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "hTd2d3JYCMOsJjzU",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f903d893-75b6-411f-a4e6-650bb451efde",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed70c4537c2bcc3d9468681973b0c99048543c3da4c265394aa8922e599f4cd7"
  },
  "id": "kZhLDeJNz9P0agU1",
  "tags": []
}