scripts/n8n/New_Web_Auth_Flow.json
{
  "name": "New Web Auth Flow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        140,
        -480
      ],
      "id": "1bf94bbe-8f44-4604-b452-643b33c5b233",
      "name": "Webhook Response Node"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "member_authorizations",
          "mode": "list",
          "cachedResultName": "member_authorizations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "member_id": "={{ $('Webhook').first().json.body.member_id }}",
            "patient_name": "={{ $('Webhook').first().json.body.member_name }}",
            "patient_birth_date": "={{ $('Webhook').first().json.body.member_dob }}",
            "service_begin_date": "={{ $('Webhook').first().json.body.service_from_date == '' ? null :  $('Webhook').first().json.body.service_from_date }}",
            "submit_contact": "={{ $('Webhook').first().json.body.submit_person_phone }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "member_id",
              "displayName": "member_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "receive_date",
              "displayName": "receive_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "prior_auth_no",
              "displayName": "prior_auth_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "auth_status",
              "displayName": "auth_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insurance_plan",
              "displayName": "insurance_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_name",
              "displayName": "patient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_birth_date",
              "displayName": "patient_birth_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_name",
              "displayName": "provider_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_npi",
              "displayName": "provider_npi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_tax_id",
              "displayName": "provider_tax_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_phone",
              "displayName": "provider_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_fax",
              "displayName": "provider_fax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_facility_name",
              "displayName": "provider_facility_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_facility_address",
              "displayName": "provider_facility_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clinical_notes",
              "displayName": "clinical_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency_type",
              "displayName": "urgency_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submit_by",
              "displayName": "submit_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submit_date",
              "displayName": "submit_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submit_contact",
              "displayName": "submit_contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_begin_date",
              "displayName": "service_begin_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_end_date",
              "displayName": "service_end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_type_standard",
              "displayName": "service_type_standard",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_type_other",
              "displayName": "service_type_other",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "diagnosis_codes",
              "displayName": "diagnosis_codes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "procedure_codes",
              "displayName": "procedure_codes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_description",
              "displayName": "service_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -280,
        -460
      ],
      "id": "7c48e72e-ca18-4d00-8e95-3eb236271db0",
      "name": "Insert Member Authorization",
      "credentials": {
        "postgres": {
          "id": "AMDgTqUJw3MtEYjN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-auth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1100,
        -480
      ],
      "id": "4884a39e-1f8a-4d77-ada5-951d8b43c6bf",
      "name": "Webhook",
      "webhookId": "37448b50-ce3d-4c51-8288-ef604baa2855"
    },
    {
      "parameters": {
        "jsCode": "\nreturn {status:'SUCCESS'};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -480
      ],
      "id": "3e687065-29f2-4092-8a23-01eebeb862ff",
      "name": "Success Message"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "members",
          "mode": "list",
          "cachedResultName": "members"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "member_id",
              "value": "={{ $('Webhook').first().json.body.member_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -900,
        -480
      ],
      "id": "519d5f5e-e7c1-4afa-8bb4-efb86db59891",
      "name": "Get Member",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AMDgTqUJw3MtEYjN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "members",
          "mode": "list",
          "cachedResultName": "members"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "full_name": "={{ $('Webhook').first().json.body.member_name }}",
            "birth_date": "={{ $('Webhook').first().json.body.member_dob }}",
            "member_id": "={{ $('Webhook').first().json.body.member_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "member_id",
              "displayName": "member_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "birth_date",
              "displayName": "birth_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -500,
        -580
      ],
      "id": "981cf018-5949-4426-a49d-ad2a5a535405",
      "name": "Insert Member",
      "credentials": {
        "postgres": {
          "id": "AMDgTqUJw3MtEYjN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d567bbb-e59d-48d8-8898-0ec74fa351bd",
              "leftValue": "={{ $('Get Member').first().json}}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        -480
      ],
      "id": "036d9f66-487f-4a62-b020-45dc70560afe",
      "name": "Not Exists"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Member",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Member Authorization": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response Node": {
      "main": [
        []
      ]
    },
    "Success Message": {
      "main": [
        [
          {
            "node": "Webhook Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Member": {
      "main": [
        [
          {
            "node": "Insert Member Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member": {
      "main": [
        [
          {
            "node": "Not Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Exists": {
      "main": [
        [
          {
            "node": "Insert Member",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Member Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0194f93b-5b50-4a69-8433-73b556ff35f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed70c4537c2bcc3d9468681973b0c99048543c3da4c265394aa8922e599f4cd7"
  },
  "id": "St54L3WHq7aPcDNY",
  "tags": []
}